{% extends 'base.html' %}

{% block content %}
    <div class="container">
     <h1>Welcome to Hockey Practice Manager</h1>
    
     <h4>
         This app is for Seattle Junior Hockey Association (SJHA) coaches to organizes their practices and make sure
         coaches and assistant coaches know their assinged areas and stations before each pracitce.

        <br>
        <br>
         If you have suggestions, please send them to david.tijerina@protonmail.com

   
     </h4>
    </div>
{% endblock %}